html,body{
    margin: 0px;
    padding: 0px;
    height:100%;
    width:100%;
}
.container{
    height:100%;
    width: 100%;
    position: relative;
    background-color:rgb(250, 241, 223);
}
.image{
   
    width:150px;
    height:150px;
    margin:10px;
    position: absolute;
    top:0;
    right:0;
}
.para1{
    width:220px;
    height:150px;
    position: absolute;
    bottom:0px;
    left:0px;
    margin:15px;
}
.para2{
    width:220px;
    height:150px;
    position:absolute;
    left:670px;
    top:300px;
    
}
