html,body{
    height:100%;
    width:100%;
    margin:0px;
    padding: 0px;
}
.gallery{
    /* margin-top: 10px; */
    display:flex;
    flex-direction:row ;
    flex-wrap: wrap;
    height:750px;
    justify-content: space-evenly;
    background-color: white;
    /* transition: all; */
   
}
.image{
    width:250px;
    height:210px;
    transition:transform 0.9s ease-in ;
}
.images{
    margin-top: 15px; 
    position: relative;
    border-radius: 5px;
    width: 350px;
    height:350px;
    background-color:rgb(194, 193, 193);
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    position: absolute;
    bottom:2px;
    text-align: center;
}
.image:hover{
    transform: scale(1.2);
}
